# Core Libraries for Machine Learning and image/video processing
torch
torchvision
transformers
numpy
sklearn
pandas
opencv-python
face_recognition
pillow
dlib==19.22.1

# Machine Learning Workflow, pipelines, Model Management, env, and Configuration
mlflow
pyYAML
dvc
python-dotenv

# Testing and Model Explainability
pytest
shap
lime

# User Interface
gradio

# Code Formatting
black
isort

# Visualization and Jupyter Tools
plotly
ipywidgets
jupyter
notebook

# utils and helper libraries
python-box
tqdm
ensure

-e .
