# Core Libraries for Machine Learning and image/video processing
torch
torchvision
transformers
numpy
scikit-learn
pandas
opencv-python
pillow
tensorflow
mtcnn
face_recognition
dlib

# Machine Learning Workflow, pipelines, Model Management, env, and Configuration
mlflow
pyYAML
dvc
python-dotenv

# User Interface
gradio

# Code Formatting
black
isort

# Visualization and Jupyter Tools
plotly
ipywidgets
jupyter
notebook

# utils and helper libraries
python-box
tqdm
ensure

-e .
